<div class="card mt-2">
  <% if message.sender_id == 3 %>
    <div class="card-body blue-message">
    <strong>PainNavigator:</strong>
  <% else %>
    <div class="card-body green-message">
    <strong><%= User.find_by(id: message.sender_id).first_name %>:</strong>
  <% end %>
    <%= message.body %>
  </div>
</div>