<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
   <a class="navbar-brand" href="#">
  <%= image_tag "logo_small.png", alt: "Logo", height: "60" %>
</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <% if provider_dashboard_signed_in? %>
          <li class="nav-item">
           <a class="nav-link" href="/"  role="button">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user_list?provider_id=<%= @provider.id %>" role="button">
              Users
            </a>
          </li>
        <% if @current_provider && @current_provider.email == "info@painnavigator.io" %> 
          <li class="nav-item">
            <a class="nav-link" href="/provider_list"role="button">
              Providers
            </a>
          </li>
        <% end %>
        <li class="nav-item">
            <a class="nav-link" href="/provider_dashboard_dowload" role="button">
              Download
            </a>
          </li>
      <% end %>
      </ul>
      <% if wellness_coach_signed_in? %>
        <a href="/wellness_coaches/sign_out" data-method="delete" rel="nofollow">Sign Out</a>
        <%= button_to "Sign Out", destroy_provider_dashboard_session_path, method: :delete %>
      <% end %>
      <% if provider_dashboard_signed_in? %>
        <%= button_to "Sign Out", destroy_provider_dashboard_session_path, method: :delete %>
      <% end %>
    </div>
  </div>
</nav>