<div class="full-container">
  <div class="list-div-header">
    <h3>Provider List</h3>
    </div>
    <div class="list-div">
        <ul aria-labelledby="userList">
          <% @providers.each do |provider| %>
            <li>
              <a href="/provider_dashboard?provider_id=<%= provider.id %>"><%= provider.name %></a>
            </li>
          <% end %>
      </ul>
      </div>
  </div>
</div>