.full-container {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(227, 240, 217);
}

.half-container1 {
  flex: 0 1 calc(60% - 5px);
  border-radius: 10px;
}

.half-container2 {
  flex: 0 1 calc(40% - 5px);
  border-radius: 10px;
}

.provider-name-div {
  display: flex;
  width: 98%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(197, 225, 181);
  color: rgb(51, 161, 138);
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.provider-stats {
  padding: 10px;
  text-align: center;
}

.black {
  color: black;
  font-style: italic;
}

.bar-graph {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-style: italic;
}

.bar-graph-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  font-style: italic;
}

.two-bar-graphs {
  display: flex;
  flex-direction: row;
}

.chart-title {
  text-align: center;
  margin-bottom: auto;
}